* {
    box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
    background-color: black;
    color: white;
    margin: 0px;
    position: relative;
}

.welcomeImage {
    position: fixed;
    margin: 0px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: auto;
    height: 100%;
    z-index: 10;
}

.title {
    position: fixed;
    background-color: gray;
    margin: 0px;
    height: 30px;
    top: 0;
    left: 0;
    width: 100%;
}

.title ul {
    display: flex;
    gap: 1em;
    list-style: none;
    height: 30px;
    padding: 0;
    margin: 0;
}

.title ul li{
    display: inline-block;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

.title ul li h3 {
    margin: 0px 5px 0px 20px;
}

.title ul li:nth-child(4) {
    width: 50px;
}

input[type="file"] {
    font-size: 10px;
    width: 60px;
}


@media (max-width: 600px) {
    .title ul li{
        margin: 0 1px;
    }
    .title ul li h3 {
        margin: 0px 1px 0px 5px;
    }
}

.darkerBtn {
    background-color: black;
    color: white;
    position: absolute;
    border: 0;
    width: 50px;
    height: 25px;
    text-align: center;
}

.settingBtn {
    background-color: transparent;
    position: absolute;
    border: 0;
    top: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
}

.setting {
    position: absolute;
    color: #C0C0C0;
    background-color: #2C0B0B;
    padding: 10px;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    border-radius: 1rem;
    border: 2px solid #5A1E1E;
    width: 80%;
    height: 80%;
    text-align: center;
    overflow: scroll;
    z-index: 2;
}

#dtl {
    background-color: #F5F5DC;
    width: 20px;
}

input {
    width: 3em;
    max-width: 100%;
    color: whitesmoke;
    background-color: #8F5A3C;
}

.zuho {
    text-align: left;
}

ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.setPicsFor360Div {
    position: fixed;
    background-color: #2C0B0B;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: scroll;
    z-index: 3;
}

.setPicsFor360Div input {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    background-color: white;
    color: black;
    font-size: large;
    width: 100px;
    height: 30px;
    margin: 50px;
}

#submitPicsFor360 {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    background-color: #147d18;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#picsFor360text {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.setting input[type="file"] {
    width: auto;
    margin: auto 10px;
}

.setting ul button {
    margin: auto 10px;
}

.demDescriptionDiv {
    position: fixed;
    background-color: #2C0B0B;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: scroll;
    z-index: 3;
}

#closeDemDescription {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    background-color: #147d18;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.demDescriptionText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.demDescriptionText a {
    color: #C0C0C0;
}

#magLimitSlider {
    width: 300px;
}

button {
    color: whitesmoke;
    background-color: #8B4513;
}

select {
    color: #F5F5DC;
    background-color: #8F5A3C;
}

.showBtn {
    font-size: 16px;
    font-weight: 600;
    background-color: #A0522D;
    line-height: 3em;
    border-radius: 1rem;
    border: 0;
    margin: 10px auto;
    padding: 0px 20px;
}

.descriptionBtn {
    background-color: transparent;
    position: absolute;
    border: 0;
    bottom: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
}

.description {
    position: absolute;
    color: #C0C0C0;
    background-color: #2C0B0B;
    padding: 10px 10px;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    border-radius: 1rem;
    border: 2px solid #5A1E1E;
    width: 80%;
    height: 80%;
    overflow: scroll;
    z-index: 2;
}

.linkBtn {
    background-color: #8B4513;
    border: 0;
    margin: 0px;
    padding: 1px 1px;
    text-align: center;
}

.description a {
    color: whitesmoke;
    text-decoration: underline;
}

#openSearch {
    width: 100px;
    height: 40px;
    color: whitesmoke;
    background-color: #8B4513;
}

.searchDiv {
    position: fixed;
    background-color: #2C0B0B;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: scroll;
    z-index: 3;
}

.searchDiv input {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    background-color: white;
    color: black;
    font-size: large;
    width: 60%;
    height: 30px;
}

#closeSearch {
    position: absolute;
    border: 0;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 30px;
    text-align: center;
}

#suggestionButtonContainer{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.suggestionButton {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #147d18;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.suggestionButton:hover {
    background-color: #176c1b;
}

h1, p {
    font-size: 16px;
    font-weight: 100;
}

.objectInfo {
    position: fixed;
    color: #C0C0C0;
    background-color: #2C0B0B;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

#closeObjectInfo {
    position: absolute;
    border: 0;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#objectInfoName {
    margin: 20px 80px;
    font-size: x-large;
    font-weight: 300;
}

#objectInfoImage {
    width: 70%;
    height: auto;
}

#objectInfoImage img{
    width: 100%;
    height: 100%;
    display: block;
}

#objectInfoText {
    width: 90%;
    margin: 10px auto;
    font-size: large;
}

#objectInfoText a {
    color: #C0C0C0;
}

.fullScreenBtn {
    background-color: transparent;
    position: absolute;
    border: 0;
    bottom: 10px;
    right: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
}

.exitFullScreenBtn {
    background-color: transparent;
    position: absolute;
    border: 0;
    bottom: 10px;
    right: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
}

video {
    position: absolute;
    color: #FFFFFF;
    margin: 0px;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%) translateY(15px);
    width: auto;
    height: 100%;
    text-align: center;
    overflow: scroll;
    opacity: 0.8;
    z-index: -1;
}

canvas {
    position: absolute;
    margin: 0px;
    width: 100%;
    top: 30px;
    z-index: 0;
}

.coordtext {
    position: absolute;
    font-size: 16px;
    color: #fff;
    width: 80%;
    height: 20px;
    top: 40px;
    left: 6px;
    z-index: 1;
}

.showingData {
    position: absolute;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    width: 80%;
    height: 20px;
    bottom: 26px;
    z-index: 1;
}

.timeSliderDiv {
    position: absolute;
    width: 80%;
    height: 20px;
    bottom: 6px;
    z-index: 1;
}

.timeSlider {
    text-align: center;
    width: 80%;
}