body {
    background: linear-gradient(45deg, #18186b, rgb(135, 112, 189));
    margin: 0px;
}

header {
    background-color: rgb(4, 4, 48);
    text-align: center;
    height: 150px;
}

header h1 {
    color: whitesmoke;
    font-size: 40px;
    line-height: 150px;
}

.no {
    font-size: 35px;
}

.he {
    font-size: 50px;
    color: coral;
}

main {
    margin: 10px 0px;
}

.pages {
    margin: 10px 30px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.pageIntro {
    text-align: center;
    width: 30%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #333;
    border-radius: 2rem;
    background: lightyellow;
}

.pageIntro a:link {
    font-size: 30px;
}

.imgWide {
    width: 100%;
}

.imgTall {
    width: 50%;
}

footer {
    margin: 20px;
    border-top: 3px solid #988fb8;
    color: whitesmoke;
}

footer a:link {
    color: #99ccff;
}

footer a:visited {
    color: #3399ff;
}