body {
    background: linear-gradient(90deg, #dadae8, rgb(161, 143, 204));
    margin: 0px;
}

header {
    color: whitesmoke;
    background-color: rgb(4, 4, 48);
    text-align: center;
    height: 150px;
    display: flex;
}

.headerHome {
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    background-color: lightyellow;
    margin: 45px 25px;
    border-radius: 1rem;
}

.titleCenterizer {
    width: 150px;
    height: 150px;
}

header h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0px;
    line-height: 150px;
}

header span {
    font-size: 35px;
}

p {
    margin: 20px;
}

img {
    border-color: antiquewhite;
    border-width: 3px;
}

.topDiv {
    text-align: center;
    margin: 20px;
}

.topDiv img {
    width: 70%;
}

.toSoleilRead {
    width: 40%;
    padding: 10px;
    margin: 20px 20px;
    border: 1px solid #333;
    background: lightyellow;
}

.sectionTitle {
    margin: 40px 0px 0px 20px;
}

.sectionTitle h3 {
    font-size: 24px;
    border-bottom: lightblue solid 2px;
}

.sectionContents {
    padding: 0px 20px;
}

.introFunc {
    margin: 10px;
    width: 60%;
}

.backLink {
    width: 30%;
    padding: 10px;
    margin: 20px 20px;
    border: 1px solid #333;
    background: lightyellow;
}