* {
    box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
    background-color: black;
    color: white;
    margin: 0px;
    position: relative;
}

input {
    margin: 5px 0;
    width: 3em;
    max-width: 100%;
    color: whitesmoke;
    background-color: #8F5A3C;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    outline: none;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input[type='range']::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.welcomeImage {
    position: fixed;
    margin: 0px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: auto;
    height: 100%;
    z-index: 10;
}

.title {
    position: fixed;
    background-color: gray;
    margin: 0px;
    height: 30px;
    top: 0;
    left: 0;
    width: 100%;
}

.title ul {
    display: flex;
    gap: 1em;
    list-style: none;
    height: 30px;
    padding: 0;
    margin: 0;
}

.title ul li{
    display: inline-block;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

.title ul li h3 {
    margin: 0px 5px 0px 20px;
}

.title ul li:nth-child(4) {
    width: 50px;
}

input[type="file"] {
    font-size: 10px;
    width: 60px;
}


@media (max-width: 600px) {
    .title ul li{
        margin: 0 1px;
    }
    .title ul li h3 {
        margin: 0px 1px 0px 5px;
    }
}

.darkerBtn {
    background-color: black;
    color: white;
    position: fixed;
    border: 0;
    width: 50px;
    height: 25px;
    text-align: center;
}


.top-right-buttons {
    position: fixed;
    top: 0;
    right: 0;
    width: 111px;
    height: 58px;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    padding: 5px;
    z-index: 1;
}
.searchBtn {
    background-color: transparent;
    border: 0;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}
.settingBtn {
    background-color: transparent;
    border: 0;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
}

.setting {
    position: fixed;
    color: #C0C0C0;
    background-color: #2C0B0B;
    padding: 10px;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    border-radius: 1rem;
    border: 2px solid #5A1E1E;
    width: 80%;
    height: 80%;
    text-align: center;
    overflow: scroll;
    z-index: 2;
}

#dtl {
    background-color: #F5F5DC;
    width: 20px;
}

.mainSettingRows {
    text-align: left;
}

.setTime {
    text-align: center;
}

.set-observation-planet {
    text-align: center;
}

.set-observation-site {
    text-align: center;
}
#lat {
    width: 4em;
}
#lon {
    width: 4em;
}

.zuho {
    text-align: left;
}

ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.aov-radio {
    margin-left: 20px;
}

.setPicsFor360Div input {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    background-color: white;
    color: black;
    font-size: large;
    width: 100px;
    height: 30px;
    margin: 50px;
}

#submitPicsFor360 {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    background-color: #147d18;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#picsFor360text {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.setting input[type="file"] {
    width: auto;
    margin: auto 10px;
}

.setting ul button {
    margin: auto 10px;
}

#closeDemDescription {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    background-color: #147d18;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.demDescriptionText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.demDescriptionText a {
    color: #C0C0C0;
}

.set-mag-limit {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
#magLimitSlider {
    width: 60%;
    flex: 1;
    margin: 0;
}
#magLimitSlider::-webkit-slider-thumb {
    background: wheat;
}
#magLimitSlider::-moz-range-thumb {
    background: wheat;
}
.magLimit-image {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.magLimit-left-image {
    margin-right: 10px;
}
.magLimit-right-image {
    margin-left: 10px;
}

button {
    color: whitesmoke;
    background-color: #8B4513;
}

select {
    margin: 5px;
    color: #F5F5DC;
    background-color: #8F5A3C;
}

.showBtn {
    font-size: 16px;
    font-weight: 600;
    background-color: #A0522D;
    line-height: 3em;
    border-radius: 1rem;
    border: 0;
    margin: 10px auto;
    padding: 0px 20px;
}

.descriptionBtn {
    background-color: transparent;
    position: fixed;
    border: 0;
    bottom: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
}

.description {
    position: fixed;
    color: #C0C0C0;
    background-color: #2C0B0B;
    padding: 10px 10px;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    border-radius: 1rem;
    border: 2px solid #5A1E1E;
    width: 80%;
    height: 80%;
    overflow: scroll;
    z-index: 2;
}

.big-window {
    visibility: hidden;
    position: fixed;
    background-color: #2C0B0B;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: scroll;
    z-index: 3;
}

#bookmarkUrlDiv p {
    margin: 0 5px;
}
#bookmarkUrlBox {
    margin: 0;
    display: flex;
    align-items: center;
}
#bookmarkUrl {
    margin: 10px 5px;
}
#copyMessage {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
#copyMessage.show {
    visibility: visible;
    opacity: 1;
}
#copyButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;;
}

#copyButton i {
    margin-right: 8px;
}

.linkBtn {
    background-color: #8B4513;
    border: 0;
    margin: 0px;
    padding: 1px 1px;
    text-align: center;
}

.description a {
    color: whitesmoke;
    text-decoration: underline;
}

#openSearch {
    margin: 10px 5px;
    width: 100px;
    height: 40px;
    color: whitesmoke;
    background-color: #8B4513;
}

#searchInput {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    background-color: white;
    color: black;
    font-size: large;
    width: 60%;
    height: 30px;
}

#closeSearch {
    position: absolute;
    border: 0;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 30px;
    text-align: center;
}

.close-observation-site-map {
    position: absolute;
    background-color: burlywood;
    color: black;
    border-radius: 2em;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 30px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
#observation-site-map {
    position: fixed;
    color: #C0C0C0;
    background-color: #2C0B0B;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

#suggestionButtonContainer{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.suggestionButton {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #147d18;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.suggestionButton:hover {
    background-color: #176c1b;
}

h1, p {
    font-size: 16px;
    font-weight: 100;
}

.news {
    position: fixed;
    color: #C0C0C0;
    background-color: #2C0B0B;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.news ul {
    list-style-type: disc;
    padding-left: 20px;
}

#closeNews {
    position: absolute;
    border: 0;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.objectInfo {
    position: fixed;
    color: #C0C0C0;
    background-color: #2C0B0B;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

#closeObjectInfo {
    position: absolute;
    border: 0;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#objectInfoName {
    margin: 20px 80px;
    font-size: x-large;
    font-weight: 300;
}

#objectInfoImage {
    width: 70%;
    height: auto;
}

#objectInfoImage img{
    width: 100%;
    height: 100%;
    display: block;
}

#objectInfoText {
    width: 90%;
    margin: 10px auto;
    font-size: large;
}

#objectInfoText a {
    color: #C0C0C0;
}

.object-info-track {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 0;
    width: 90%;
}

.object-info-track select {
    margin: 5px;
    width: 4em;
}

.track-time-radio-container {
    text-align: left;
}

.planet-track-time-container {
    display: inline-flex;
    margin: auto;
    gap: 10px;
}

.fullScreenBtn {
    background-color: transparent;
    position: fixed;
    border: 0;
    bottom: 10px;
    right: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
}

.exitFullScreenBtn {
    background-color: transparent;
    position: fixed;
    border: 0;
    bottom: 10px;
    right: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
}

video {
    position: fixed;
    color: #FFFFFF;
    margin: 0px;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%) translateY(15px);
    width: auto;
    height: 100%;
    text-align: center;
    overflow: scroll;
    opacity: 0.8;
    z-index: -1;
}

canvas {
    position: fixed;
    margin: 0px;
    width: 100%;
    top: 30px;
    z-index: 0;
}

.coordtext {
    position: fixed;
    font-size: 16px;
    color: #fff;
    width: 80%;
    height: 20px;
    top: 40px;
    left: 6px;
    z-index: 1;
}

.info-lb {
    position: fixed;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    width: 80%;
    bottom: 6px;
    z-index: 1;
}

.showingData {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    width: 70%;
    height: 20px;
    z-index: 1;
}

.aovSliderDiv {
    display: none;
    margin: 0;
    padding: 0;
    height: 20px;
}
.aovSlider {
    width: 80%;
    background: orange;
}
.timeSlider::-webkit-slider-thumb {
    background: orange;
}
.timeSlider::-moz-range-thumb {
    background: orange;
}


.timeSliderDiv {
    margin: 0;
    padding: 0;
    height: 20px;
}
.timeSlider {
    background: #2c3a80;
}
.timeSlider::-webkit-slider-thumb {
    background: rgb(0, 140, 255);
}
.timeSlider::-moz-range-thumb {
    background: rgb(0, 140, 255);
}